
:root {
    --gray: #D8E2DC;
    --Champagnepink: #FFE5D9;
    --pink: #FFCAD4;
    --Cherrypink: #F4ACB7;
    --Mountpink: #9D8189;
    --darkpink: #A51848;
    --shadow: #d0cece;
    --white:rgb(255, 255, 255);
    --black:rgb(0, 0, 0);
    --pluralOrange:#f15b2a;
    --pluralpink: #ec008c;

  }

* {
    box-sizing: border-box;
}

body{
    background-color:var(--black);
}

label{
    /* color: var(--pluralpink); */
}
.login .Pusteblume{
    position: absolute;
}
/* login */
.login{
    background-color: var(--white);
    
    /* margin: auto auto auto 30%; */
    border-radius: 5px;
    box-shadow: 5px 5px 4px 2px var(--shadow);
    max-width: 600px;
    /* position: relative; */
    padding: 20px;
    position: fixed;
    top: 20%;
    left: 30%;

}

.login .rememberForget{
    display: flex;
    flex-direction: row;
}
.login form .forget{
    position: absolute;
    right: 25px;
    color: var(--black);

}

.login #signinBtn {
    background-color: var(--pluralpink);
    color: var(--white);
    justify-content: center;
    align-items: center;
    /* margin-right: auto;
    margin-left: auto; */
    /* left: 100px; */
    position: relative;
    margin: 15px auto;
}

button:hover {
    opacity:0.9;
}
.login .hrLine h6 {

    display: flex;
    flex-basis: 100%;
    align-items: center;
    color: var(--black);
    margin: 8px 1px;

}
.login .hrLine h6::before,
.login .hrLine h6::after{
    content: "";
    flex-grow: 1;
    background: rgba(0, 0, 0, 0.35);
    height: 1px;
    font-size: 0px;
    line-height: 0px;
    margin: 0px 8px;
}

.login #signupBtn {
    background-color: var(--pluralpink);
    position: relative;
    margin: 15px auto;
    justify-content: center;
    align-items: center;
    color: var(--white);

}
.login #signupBtn:hover {
    opacity:0.9;
}

@media (max-width: 768px) { 
    .login{
        width: 100%;
        position: relative;
        left: 2px;
        right: 2px;
        bottom: 30px;
        margin: 3px;
    }
    .login #signinBtn , .login #signupBtn{
        width: 100%;
    }
    .login .forget{
        display: block;
        left: 0px;
        margin: 2px;
    }
    .login .rememberForget{
        flex-direction: column;
    }
    .login form .forget{
        position: relative;
        /* right: 25px; */
    }

}

